/*================================
              Fonts
================================*/

/*================================
              Fonts
================================*/



/*================================
       Start General Styles
================================*/
body {
  margin: 0px;
  padding: 0px;
}
/*================================
       End General Styles
================================*/





/*================================
        Start Joao Section
================================*/
.joao-section {
  margin: 0px;
  padding: 0px;
}
/*================================
         End Joao Section
================================*/





/*================================
        Start Adrian Section
================================*/
.adrian-section {
  margin: 0px;
  padding: 0px;
}
/*================================
         End Adrian Section
================================*/





/*================================
        Start Camilo Section
================================*/
.camilo-section {
  margin: 0px;
  padding: 0px;
}
/*================================
         End Camilo Section
================================*/
